#container {
    height: 100%; 
    width: 100%; 
    display: flex; 
    justify-content: center;
}

#square {
    display: flex; 
    flex-direction: column; 
    border: 2px solid black; 
    justify-content: space-evenly;
}

.row {
    display: flex; 
    flex-direction: row; 
    border: 0; 
    flex-grow: 1;
}
.individualSquare {
    flex-grow: 1; 
    border: 1px solid black;
}