#container {
    height: 100%; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#squareSize {
    font-size: 24px;
    background-color: purple;
    color: white;
    border-radius: 8px;
}

#sizeText {
    font-size: 16px;
}

#square {
    display: flex; 
    flex-direction: column; 
    border: 2px solid black; 
    justify-content: space-evenly;
}

.row {
    display: flex; 
    flex-direction: row; 
    border: 0; 
    flex-grow: 1;
}

.individualSquare {
    flex-grow: 1; 
    border: 1px solid black;
    background-color: rgb(255,255,255);
    opacity: 0;
}